
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">My-Portfolio</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about-me">About-me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/my-projects">My-Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/my-skills">My-Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
        </ul>
        <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

<div class="container">
    <div class="left">
        <h2>soham Sarde </h2>
        <div class="col-md-6 info">
            <!-- <h2>About Me</h2> -->
            <p>
              Hello! my is known to everyone, a passionate web developer with a keen interest in creating dynamic and responsive web applications.
              I specialize in [your skills or technologies]. With a strong foundation in [relevant technologies], I am always eager to learn and
              stay up-to-date with the latest industry trends.
            </p>
            <p>
              My journey in web development started [mention a bit about your background and experience]. I love turning ideas into
              beautiful, interactive, and user-friendly websites.
            </p>
            <p>
              Outside of coding, you can find me [mention any hobbies or interests]. Let's connect and discuss exciting projects!
            </p>
          </div>
    </div>
    <div class="right">
        <img id="image" src="https://images.pexels.com/photos/927022/pexels-photo-927022.jpeg" alt="">
    </div>
</div>
