<!-- header.component.html -->
<!-- <header>
    <h1>Your Name</h1>
    <p>Web Developer</p>
  </header>
   -->
<!-- header.component.html -->
<!-- <header>
    <nav>
      <a >Home</a>
      <a >About Me</a>
      <a>My Projects</a>
      <a>My Skills</a>
      <a >Contact</a>
    </nav>
</header> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My-Portfolio</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-me">About-me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/my-projects">My-Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/my-skills">My-Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <div class="left">
    <div class="section1"><span id="msg">HII there I am soham Saarde</span></div>
    <div class="section2">
      <span id="desc">I am Developer try me once </span>
    </div>
    <button class="button"><a href="./about-me">let's try</a></button>
  </div>
  <div class="right">
    <div class="img"><img id="empimg"src="https://img.freepik.com/free-psd/metaverse-digital-cyber-world-technology-man-holding-virtual-reality-with-futuristic-interface-3d-hologram-data-3d-illustration_596528-18.jpg?w=740&t=st=1706074022~exp=1706074622~hmac=18f3b2fa9b1fbb98360ba45151f4458062bac6466002199663af01b65098913b" alt=""></div>
  </div>

</div>
